body {
    margin: 0;
    padding: 0;
    background-image: url('backgroundmoose.png'); /* Past a picture name */
    background-size: cover; /* The picture will stretch to the full screen */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevents image repetition */
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #442b0065;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
}

.photo-section {
    margin-bottom: 20px;
}

.photo-section p {
    color: #333;
    font-size: 18px;
}

.text-section h1 {
    color: #f0f0f0;
    font-family: 'Assistant', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.text-section p {
    color: #f0f0f0;font-family: 'Assistant', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
}

.button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background-color: #e5ac3a;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-family: 'Assistant', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.button:hover {
    background-color: #df9500;
}